# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.game.courses.mastery-2D.iml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
